header{
	padding-top: 20px;
}
.buttons{
	width: 40px;
	height:40px;
}
/*#submit_link{
	font-family: "venus";
	opacity: 0.8;
}
input[type=submit]{
	font-size:20px;
	font-family: Georgia;
	vertical-align:top;
}*/
body{
	padding:0px;
	margin:0px;
	top: 0;
	right:0;
	bottom: 0;
	left: 0;
	height:calc(100vh-80px);
	background-image:linear-gradient(90deg, #c471ed, #f64f59);
}
#next_button{
	margin-left: 4px;
}
#previous_button{
	margin-right: 4px;
}
.button_round{
	width:60px;
	height:60px;
	border-radius:100%;
	margin: 0 auto;
	vertical-align: middle;
	align-content: center;
}
.button_round:focus{
	outline:none;
}
/*#youtube_playlist_link{
	width: 75%;
	height:30px;
	position: flex;
	vertical-align:top;
	opacity: 0.75;
}
#submit_link{
	height: 30px;
}*/
#music_player{
	display: none;
}
#control_panel{
	padding-top:50px;
	text-align: center;
	position: flex;
	height:5vh;

}
.content{
	min-height: calc(65vh);
}
form{
	text-align: center;
	vertical-align: bottom;
	position:flex;
}
nav{
	display: block;
}

.overlay{
	height:100%;
	width:100%;
	top:0px;
	display: none;
	position: fixed;
	padding-top: 40vh;
	background-image:linear-gradient(90deg, #2a0845, #6441a5);
	opacity: 0.9;
}
#load_spinner{
	margin:0 auto;
	display:none;
	-webkit-animation: rotation 1s infinite linear;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
#song_name{
	text-align: center;
	display:none;
	font-family: 'venus';
	/*margin: 0 auto;*/
}
@font-face{
	font-family: "venus";
	src: url("../res/venus.ttf");
}
#name_holder{
	align-items: center;
	display:flex;
	justify-content: center;
	height:30px;
	padding-top: 73vh;

}
.slider_container{
	position: absolute;
	width:80%;
	display: block;
	text-align: center;
	padding-left: 13vw;
}
.slider {
  -webkit-appearance: none;
  display: inline-block;
  width: 85%;
  height: 10px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.3;
  margin: 0 auto;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 0.5;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #000000;
  cursor: pointer;
}
#current_time{
	display: inline-block;
	text-align: right;
	width:50px;
	font-family: "venus";
	src: url("../res/venus.ttf");
	font-size:15px;
	margin-left:5px;
}
#volume_button{
	width:15px;
	position: absolute;
	vertical-align: middle;
	display:inline-block;
}
#volume_regulator{
	 opacity: 0;
	 margin-left:-20px;
}
#volume_settings:hover #volume_regulator{
	opacity: 0.3;
	/*display:block;*/
}
#volume_settings:mouseout #volume_regulator{
	opacity: 0;
	transition: opacity 0.5s ease-out 2s;
}
.slider2 {
  -webkit-appearance: none;
  visibility: visible;
  position: absolute;
  transform: rotate(270deg);
  width: 15vh;
  height: 10px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  /*opacity: 0.3;*/
  margin-left: 5px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider2:hover {
  opacity: 0.5;
}
.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #000000;
  cursor: pointer;
}
#volume_settings{
	position:absolute;
	padding-left:3vw;
}
#canvas{
	width:95%;
	height:100%;
	align-content: center;
	margin: 0 auto;
	opacity: 0.8;
}
#chart{
	max-height:60vh;
	top:10vh;
	text-align: center;
}

