:root {
  --bg-gradient: linear-gradient(135deg, #820c7a, #ef745c);
  --overlay-gradient: linear-gradient(135deg, #5f0959, #c35a47);
  --text-color: #cfefff;
}

.button-icon {
  width: 40px;
  height: 40px;
}

.button-icon:focus {
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  padding: 0px;
  margin: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-gradient);
}

.next-button {
  margin-left: 4px;
}

.previous-button {
  margin-right: 4px;
}

.button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100%;
  background: none;
  margin: 0 auto;
  vertical-align: middle;
  align-content: center;
}

.button:focus {
  outline: none;
}

.music-player {
  display: none;
}

.control-panel {
  padding-top: 10px;
  text-align: center;
  height: 70px;
}

.content {
  height: auto;
  width: 100%;
  bottom: 180px;
  padding-top: 50px;
  top: 0;
  position: fixed;
}

nav {
  display: block;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  padding-top: 40vh;
  background-image: var(--overlay-gradient);
  opacity: 0.9;
  z-index: 5;
}

.load-spinner {
  margin: 0 auto;
  -webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.song-name {
  text-align: center;
  display: none;
  font-family: 'venus';
  color: var(--text-color);
}

@font-face {
  font-family: 'venus';
  src: url('../assets/venus.ttf');
}

.name-holder {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
}

.slider-container {
  width: 70vw;
  display: inline-block;
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.3;
  margin: 0 auto;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress:hover {
  opacity: 0.5;
}

.current-time {
  display: inline-block;
  text-align: right;
  padding-left: 1vw;
  font-family: 'venus';
  font-size: 15px;
}

.volume-button {
  margin-left: 1vw;
  width: 24px;
  vertical-align: middle;
}

.volume-settings:hover .volume-regulator {
  opacity: 0.3;
}

.volume-settings:mouseout .volume-regulator {
  opacity: 0;
  transition: opacity 0.5s ease-out 2s;
}

.volume-regulator {
  opacity: 0;
  -webkit-appearance: none;
  visibility: visible;
  position: absolute;
  height: 10px;
  -webkit-transform-origin: -11.5px 5px;
  -moz-transform-origin: -11.5px 5px;
  -ms-transform-origin: -11.5px 5px;
  transform-origin: -11.5px 5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-radius: 5px;
  background: #d3d3d3;
  margin-top: -3px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume-regulator:hover {
  opacity: 0.5;
}
.volume-regulator::-moz-range-thumb,
.progress::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.volume-regulator::-webkit-slider-thumb,
.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.volume-settings {
  padding-left: 3vw;
  width: 11vw;
  display: inline-block;
}

.canvas {
  width: 85%;
  height: 100%;
  align-content: center;
  margin: 0 auto;
  opacity: 0.8;
}

.chart {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footing-span {
  position: fixed;
  width: 100%;
  height: 165px;
  bottom: 0;
}

.status-string {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}
